pipeline/BackuoOfIncrCopyPipeline4.json
{
	"name": "BackuoOfIncrCopyPipeline4",
	"properties": {
		"activities": [
			{
				"name": "IncrCopyDataAndSinkCountActivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "MetadataMaxLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SourceMaxLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from enquiry_test2 where created_on > convert(datetime,@{activity('MetadataMaxLookupActivity').output.firstRow.Prop_0},121) and created_on <= convert(datetime,@{activity('SourceMaxLookupActivity').output.firstRow.Prop_0},121)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": ""
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkStagingDataADSLG2Connection",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SouceCountLookupActivity",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SourceMaxLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MetadataMaxLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select count(*) from enquiry_test2 where created_on > convert(datetime,@{activity('MetadataMaxLookupActivity').output.firstRow.Prop_0},121) and created_on <= convert(datetime,@{activity('SourceMaxLookupActivity').output.firstRow.Prop_0},121)",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ValidateSourceAndSinkCountIfCondition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IncrCopyDataAndSinkCountActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SouceCountLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('IncrCopyDataAndSinkCountActivity').output.rowscopied,activity('SouceCountLookupActivity').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ValidatedDataFlowActivity",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ValidatedDataFlowActivity",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ValidateSourceAndSinkCountIfCondition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MetadataSinkADSLG2Connection",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv"
					}
				}
			},
			{
				"name": "MetadataMaxLookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "part-00000-*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "MetadataSinkADSLG2Connection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SourceMaxLookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(created_on) from enquiry_test2"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}