pipeline/OneDataflowWithinParallelIncrPipelineActivityMahan.json
{
	"name": "OneDataflowWithinParallelIncrPipelineActivityMahan",
	"properties": {
		"activities": [
			{
				"name": "IncrCopyDataAndSinkCountActivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "MetadataMaxLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SourceMaxLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * \nFROM enquiry_test2 \nWHERE created_on > convert(datetime,substring('@{activity('MetadataMaxLookupActivity').output.firstRow.Prop_0}',0,22),121) \nAND created_on <= convert(datetime,'@{activity('SourceMaxLookupActivity').output.firstRow.max_created}',126)\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkStagingDataADSLG2Connection",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SouceCountLookupActivity",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SourceMaxLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MetadataMaxLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT COUNT(*)\nFROM enquiry_test2 \nWHERE created_on > convert(datetime,substring('@{activity('MetadataMaxLookupActivity').output.firstRow.Prop_0}',0,22),121) \nAND created_on <= convert(datetime,'@{activity('SourceMaxLookupActivity').output.firstRow.max_created_on}',126)\n",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ValidateSourceAndSinkCountIfCondition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IncrCopyDataAndSinkCountActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SouceCountLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('IncrCopyDataAndSinkCountActivity').output.rowscopied,activity('SouceCountLookupActivity').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MetadataMaxLookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFileName": "part-00000-*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "MetadataSinkADSLG2Connection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SourceMaxLookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(created_on) as max_created_on from enquiry_test2"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ProductionOfWithinParallelValidatedDataFlowActivity",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "MetadataSinkDeleteActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ProductionOfWithinParallelValidatedDataFlowActivity",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "MetadataSinkDeleteActivity",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ValidateSourceAndSinkCountIfCondition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MetadataSinkADSLG2Connection",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage2",
							"type": "LinkedServiceReference"
						},
						"path": "sample/test/meta_data_log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.*"
					}
				}
			},
			{
				"name": "StagingArchivedCopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ProductionOfWithinParallelValidatedDataFlowActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.txt",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SinkStagingDataADSLG2Connection",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquettostorestagingarchive",
						"type": "DatasetReference",
						"parameters": {
							"year": "@formatDateTime(utcnow(),'yyyy')",
							"month": "@formatDateTime(utcnow(),'MM')"
						}
					}
				]
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}