pipeline/TestLogsIncrCopyPipeline4.json
{
	"name": "TestLogsIncrCopyPipeline4",
	"properties": {
		"activities": [
			{
				"name": "IncrCopyDataAndSinkCountActivity",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from enquiry_test"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkStagingDataADSLG2Connection",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SouceCountLookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select count(*) from enquiry_test2"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ValidateSourceAndSinkCountIfCondition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IncrCopyDataAndSinkCountActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SouceCountLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('IncrCopyDataAndSinkCountActivity').output.rowscopied,activity('SouceCountLookupActivity').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ValidatedDataFlowActivity",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ValidateSourceAndSinkCountIfCondition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ValidatedDataFlowActivity",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}