pipeline/test_if_condition.json
{
	"name": "test_if_condition",
	"properties": {
		"activities": [
			{
				"name": "SouceCountLookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT COUNT(*)\nFROM enquiry_test2",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ValidateSourceAndSinkCountIfCondition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SouceCountLookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SouceCountLookupActivityCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('SouceCountLookupActivityCopy').output,activity('SouceCountLookupActivity').output)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "MetadataSinkDeleteActivity2",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "MetadataSinkADSLG2Connection2",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorage2",
										"type": "LinkedServiceReference"
									},
									"path": "sample/test/meta_data_log"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.*"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "MetadataSinkDeleteActivity_copy1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "MetadataSinkADSLG2Connection3",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorage2",
										"type": "LinkedServiceReference"
									},
									"path": "sample/test/meta_data_log"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.*"
								}
							}
						}
					]
				}
			},
			{
				"name": "MetadataSinkDeleteActivity",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ValidateSourceAndSinkCountIfCondition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MetadataSinkADSLG2Connection",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage2",
							"type": "LinkedServiceReference"
						},
						"path": "sample/test/meta_data_log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.*"
					}
				}
			},
			{
				"name": "SouceCountLookupActivityCopy",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT COUNT(*)\nFROM enquiry_test2",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}